@import "~bootstrap/dist/css/bootstrap.min.css";

/* Optional custom styles */
.auth-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh; /* full viewport height */
}

.auth-inner {
  max-width: 400px;
  width: 100%;
  padding: 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
